<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478371157511-l7nkpps3lkr3h70d5hotjivrgn2r2tdf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478371157511-l7nkpps3lkr3h70d5hotjivrgn2r2tdf</string>
	<key>API_KEY</key>
	<string>AIzaSyC0Pk_skI0qgwi4pWnEOejLcZl0280LuRo</string>
	<key>GCM_SENDER_ID</key>
	<string>478371157511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.santiagoquihui.extinctx</string>
	<key>PROJECT_ID</key>
	<string>exctinctx</string>
	<key>STORAGE_BUCKET</key>
	<string>exctinctx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478371157511:ios:845d84f95c9b5c57e1bca2</string>
</dict>
</plist>